<mat-toolbar  class="header mat-elevation-z5">
    <span class="logo-container" routerLink="/">
        <a>
            <img class="logo" src="assets/img/logo.jpg" alt="logo">
        </a>
        <a class="mat-title mat-h1">TECH</a>
    </span>
    <span class="container">
        <button class="mat-raised-button" routerLink="/list">
            <span class="material-icons">
                format_list_numbered_rtl
            </span>
            <a>Listar Usuarios</a>
        </button>
        <button class="mat-raised-button" routerLink="/user/create">
            <span class="material-icons">
                add
            </span>
            Novo Usuario
        </button>
    </span>
</mat-toolbar>